
.modal-form form
{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.modal-form input,textarea{
    margin:10px;
    border:1px solid grey;
}
.modal-form textarea{
    margin:10px;
    border:1px solid grey;
}


